[mysqld]
server-id=1
log-bin=mysql-bin

character-set-server=utf8

general_log=1
general_log_file=/var/log/mysql/query.log

slow_query_log = 1
long_query_time = 1
log-queries-not-using-indexes
slow_query_log_file = /var/log/mysql/slow_query.log

query_cache_type = 1
max_connections = 30
thread_cache_size = 10

skip-innodb-doublewrite
