div
  p Clicked: {value} items
  button(onClick='{onIncrement}') +
  button(onClick='{onDecrement}') -
  button(onClick='{this.incrementIfOdd}') Increment if odd
  button(onClick='{this.incrementAsync}') Increment if async
