div
  p Clicked: {value} items
  button(onClick='{actions.doIncrement}') +
  button(onClick='{actions.doDecrement}') -
  button(onClick='{this.incrementIfOdd}') Increment if odd
  button(onClick='{this.incrementAsync}') Increment if async
