div
  p Clicked: {value} items
  button(onClick='{actions.incrementCounter}') +
  button(onClick='{actions.decrementCounter}') -
  button(onClick='{this.incrementIfOdd}') Increment if odd
  button(onClick='{this.incrementAsync}') Increment if async
